  <p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
  </p>
  <p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control">
  </p>

  <data-table
      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"
  >
    <data-table-column
      [property]="'title'"
      [header]="'Title'"
      [sortable]="true"
      [resizable]="true"    
    >
    </data-table-column>
    <data-table-column
      [property]="'price'"
      [header]="'Price'"
      [sortable]="true"
      [resizable]="true"    
    >
      <ng-template #dataTableCell let-item="item">
        {{ item.price | currency:'EUR':true}}
      </ng-template>
    </data-table-column> 
    <data-table-column
      [property]="'$key'"   
    >
      <ng-template #dataTableCell let-item="item">
        <a [routerLink]="['/admin/products/', item.key]" class="btn btn-primary">Edit</a>
      </ng-template>
    </data-table-column> 
  </data-table>


  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filterProducts
        ">
        <th scope="row"> {{item.key}}</th>
        <td> {{ item.title | json }} </td>
        <td> {{ item.price }}</td>
        <td>
          <a [routerLink]="['/admin/products/', item.key]" class="btn btn-primary">Edit</a>
        </td>
      </tr>
    </tbody>
  </table> -->
  <!-- <ul>
    <li *ngFor="let item of items | async">
      {{ item | json }}
    </li>
  </ul> -->